<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="/api/userimage" width="25px">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
     <li><a href="/logout">Logout</a></li>
   </ul>
  </div>
</nav>
<ul>
    <li ng-repeat="film in ctrl.films">
        <a ui-sref="detail({filmId: film.film_id})">
            {{film.film_id}} {{film.title}}
        </a>

    </li>
</ul>
